<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="app.js"></script>
    <title>Hello, world!</title>
    </head>
    <body>
      <div class="jumbotron" method="POST" action = "/search">
          <h1 class="display-4">Map Reduce Search</h1>
          <p class="lead">Let's get it</p>
          <hr class="my-4">
          <form method="POST" action = "/search">
        <div class="form-row align-items-center" method="POST" action = "/search">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Name</label>
            <input type="text" class="form-control" id="inlineFormInputName" method="POST" action = "/search" placeholder="Search" name="query">
          </div>
          <div class="col-auto my-1">
            <button method="POST" action = "/search" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      </div>
      <!-- Search Results-->

      <ul>
        <% for(var j=0; j< 4; j++) { %>
          <% for(var i=0; i < pages.length; i++) { %>
            <div class="card" style="width: 26rem;">
              <div class="card-body">
                <%if (i == 0) { %>
                  <h5 class="card-title">Title: <%= pages[i][j] %></h5>
                <% } %>
                <%if (i == 1) { %>
                  <p class="card-text"> Total Time: <%= pages[i][j] %></p>
                <% } %>
                <%if (i == 2) { %>
                  <p class="card-text"> Active Time: <%= pages[i][j] %></p>
                <% } %>
                <%if (i == 3) { %>
                  <a href="<%= pages[i][j] %>" class="btn btn-primary">Find this link</a>
                <% } %>
              </div>
            </div>
          <% } %>
        <% } %>
    </ul>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>